table { border-collapse: collapse;}
th, td {
        border: 1px solid black;
}
table{
        border: 2px solid black;
}
th {
        background-color: #999999;
        color: white;
}
tr:hover {
        background-color: rosybrown;
}

.alive { background-color: green;
}
.deceased { background-color: red;
}